<p>
  <mat-toolbar class="toolbar" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Energyviss / Live Dashboard</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>restart_alt</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>access_alarms</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div class="dropdown" style="display: flex; justify-content: space-around;background-color: white;margin:10px">
  <span>FLOOR : 
  <mat-form-field appearance="fill" style="margin-right: 5px;">
    <mat-label>Floor</mat-label>
    <mat-select [(value)]="selectedFloor">
      <mat-option></mat-option>
      <mat-option [value]="option.value" *ngFor="let option of floors">{{ option.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>
</span>
  <span>SECTION : 
  <mat-form-field appearance="fill" style="margin-right: 5px;">
    <mat-label>Section</mat-label>
    <mat-select [(value)]="selectedSection">
      <mat-option></mat-option>
      <mat-option [value]="option.value" *ngFor="let option of sections">{{ option.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>
</span>
  <span>VIEW : 
  <mat-form-field appearance="fill" style="margin-right: 5px;">
    <mat-label>View</mat-label>
    <mat-select [(value)]="selectedView">
      <mat-option></mat-option>
      <mat-option [value]="option.value" *ngFor="let option of views">{{ option.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>
</span>
  <span>METER :
  <mat-form-field appearance="fill">
    <mat-label>Meter</mat-label>
    <mat-select [(value)]="selectedMeter">
      <mat-option></mat-option>
      <mat-option [value]="option.value" *ngFor="let option of meters">{{ option.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>
</span>
</div>
<div style="display: flex; justify-content: space-around;background-color: white;margin:10px">
  <h3>ENERGY : <span style="color:red">156,610 kWh</span></h3>
  <h3>LAST UPDATED : <span style="color:red">22/06/2021 12:07 PM</span> </h3>
  <h3>NEXT HOUR PREDICTED ENERGY : <span style="color:red">157,393.05 kWh</span></h3>
</div>
<div style="display: flex; justify-content:flex-start;background-color: white;margin:10px ">
  <SPAN>
    <p>VOLTAGE: </p>
    <canvas #canvas1></canvas>
  </SPAN>
  <span>
    <p>CURRENT:</p>
    <canvas #canvas2></canvas>
  </span>
  <span>
    <p>POWER:</p>
    <canvas #canvas3></canvas>
  </span>
  <span>
    <p>POWER FACTOR:</p>
    <canvas #canvas4></canvas>
  </span>
  <span>
    <P>FREQUENCY:</P>
    <canvas #canvas5></canvas>
  </span>
 
  
</div>
<div style="display: flex; justify-content: space-evenly;background-color: white">
  <canvas id="myChart" width="400" height="400"></canvas>
  <canvas id="myChart1" width="400" height="400"></canvas>
</div>
<div style="display: flex; justify-content:flex-end;background-color: white;margin:10px">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>message</mat-icon>
  </button>
</div>

